<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xsdkj.wechat.mapper.UserCommentMapper">
  <resultMap id="BaseResultMap" type="com.xsdkj.wechat.entity.chat.UserComment">
    <!--@mbg.generated-->
    <!--@Table user_comment-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="mood_id" jdbcType="INTEGER" property="moodId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_times" jdbcType="BIGINT" property="createTimes" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `uid`, nickname, mood_id, content, create_times
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from user_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from user_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xsdkj.wechat.entity.chat.UserComment" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_comment (`uid`, nickname, mood_id, 
      content, create_times)
    values (#{uid,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, #{moodId,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{createTimes,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xsdkj.wechat.entity.chat.UserComment" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        `uid`,
      </if>
      <if test="nickname != null">UserCommentMapper.xml
        nickname,
      </if>
      <if test="moodId != null">
        mood_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createTimes != null">
        create_times,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="moodId != null">
        #{moodId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTimes != null">
        #{createTimes,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xsdkj.wechat.entity.chat.UserComment">
    <!--@mbg.generated-->
    update user_comment
    <set>
      <if test="uid != null">
        `uid` = #{uid,jdbcType=INTEGER},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="moodId != null">
        mood_id = #{moodId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTimes != null">
        create_times = #{createTimes,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xsdkj.wechat.entity.chat.UserComment">
    <!--@mbg.generated-->
    update user_comment
    set `uid` = #{uid,jdbcType=INTEGER},
      nickname = #{nickname,jdbcType=VARCHAR},
      mood_id = #{moodId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      create_times = #{createTimes,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>