<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xsdkj.wechat.mapper.GroupNoSayMapper">
    <resultMap id="BaseResultMap" type="com.xsdkj.wechat.entity.chat.GroupNoSay">
        <!--@mbg.generated-->
        <!--@Table group_no_say-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="group_id" jdbcType="INTEGER" property="groupId"/>
        <result column="times" jdbcType="BIGINT" property="times"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `uid`, group_id, times
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from group_no_say
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from group_no_say
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xsdkj.wechat.entity.chat.GroupNoSay"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into group_no_say (`uid`, group_id, times
        )
        values (#{uid,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER}, #{times,jdbcType=BIGINT}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xsdkj.wechat.entity.chat.GroupNoSay"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into group_no_say
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                `uid`,
            </if>
            <if test="groupId != null">
                group_id,
            </if>
            <if test="times != null">
                times,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="groupId != null">
                #{groupId,jdbcType=INTEGER},
            </if>
            <if test="times != null">
                #{times,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xsdkj.wechat.entity.chat.GroupNoSay">
        <!--@mbg.generated-->
        update group_no_say
        <set>
            <if test="uid != null">
                `uid` = #{uid,jdbcType=INTEGER},
            </if>
            <if test="groupId != null">
                group_id = #{groupId,jdbcType=INTEGER},
            </if>
            <if test="times != null">
                times = #{times,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xsdkj.wechat.entity.chat.GroupNoSay">
        <!--@mbg.generated-->
        update group_no_say
        set `uid` = #{uid,jdbcType=INTEGER},
        group_id = #{groupId,jdbcType=INTEGER},
        times = #{times,jdbcType=BIGINT}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--auto generated by MybatisCodeHelper on 2019-12-28-->
    <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from group_no_say
        where 1=1
        <if test="id != null">
            and id=#{id,jdbcType=INTEGER}
        </if>
        <if test="uid != null">
            and `uid`=#{uid,jdbcType=INTEGER}
        </if>
        <if test="times != null">
            and times=#{times,jdbcType=BIGINT}
        </if>
    </select>
    <insert id="save">
        insert into group_no_say(uid, group_id,times)values (#{uid},#{groupId},#{times})
    </insert>

    <!--auto generated by MybatisCodeHelper on 2019-12-28-->
    <select id="findOneByUidAndGroupId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from group_no_say
        where `uid`=#{uid,jdbcType=INTEGER} and group_id=#{groupId,jdbcType=INTEGER}
    </select>
    <update id="updateByUidAndGid">
        update group_no_say set times = #{times} where uid = #{uid} and group_id =#{groupId}
    </update>
</mapper>
