<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xsdkj.wechat.mapper.NicknameSurnameMapper">
  <resultMap id="BaseResultMap" type="com.xsdkj.wechat.entity.other.NicknameSurname">
    <!--@mbg.generated-->
    <!--@Table nickname_surname-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="surname" jdbcType="VARCHAR" property="surname" />
    <result column="type" jdbcType="TINYINT" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, surname, `type`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from nickname_surname
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from nickname_surname
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xsdkj.wechat.entity.other.NicknameSurname" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into nickname_surname (surname, `type`)
    values (#{surname,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xsdkj.wechat.entity.other.NicknameSurname" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into nickname_surname
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="surname != null">
        surname,
      </if>
      <if test="type != null">
        `type`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="surname != null">
        #{surname,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xsdkj.wechat.entity.other.NicknameSurname">
    <!--@mbg.generated-->
    update nickname_surname
    <set>
      <if test="surname != null">
        surname = #{surname,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xsdkj.wechat.entity.other.NicknameSurname">
    <!--@mbg.generated-->
    update nickname_surname
    set surname = #{surname,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <!--auto generated by MybatisCodeHelper on 2019-12-31-->
    <select id="getByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from nickname_surname
        where 1=1
        <if test="id != null">
            and id=#{id,jdbcType=INTEGER}
        </if>
        <if test="surname != null">
            and surname=#{surname,jdbcType=VARCHAR}
        </if>
        <if test="type != null">
            and `type`=#{type,jdbcType=TINYINT}
        </if>
    </select>
</mapper>
