<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xsdkj.wechat.mapper.WalletOperationLogMapper">
    <resultMap id="BaseResultMap" type="com.xsdkj.wechat.entity.wallet.WalletOperationLog">
        <!--@mbg.generated-->
        <!--@Table wallet_operation_log_0-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="operation_id" jdbcType="INTEGER" property="operationId"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="before_price" jdbcType="DECIMAL" property="beforePrice"/>
        <result column="after_price" jdbcType="DECIMAL" property="afterPrice"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="explain" jdbcType="VARCHAR" property="explain"/>
        <result column="month" jdbcType="TINYINT" property="month"/>
        <result column="year" jdbcType="INTEGER" property="year"/>
        <result column="create_times" jdbcType="BIGINT" property="createTimes"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `uid`, operation_id, price, before_price, after_price, `type`, `explain`, `month`,
        `year`, create_times
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from wallet_operation_log_0
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from wallet_operation_log_0
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.xsdkj.wechat.entity.wallet.WalletOperationLog" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into wallet_operation_log_0
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                `uid`,
            </if>
            <if test="operationId != null">
                operation_id,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="beforePrice != null">
                before_price,
            </if>
            <if test="afterPrice != null">
                after_price,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="explain != null">
                `explain`,
            </if>
            <if test="month != null">
                `month`,
            </if>
            <if test="year != null">
                `year`,
            </if>
            <if test="createTimes != null">
                create_times,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="operationId != null">
                #{operationId,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="beforePrice != null">
                #{beforePrice,jdbcType=DECIMAL},
            </if>
            <if test="afterPrice != null">
                #{afterPrice,jdbcType=DECIMAL},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="explain != null">
                #{explain,jdbcType=VARCHAR},
            </if>
            <if test="month != null">
                #{month,jdbcType=TINYINT},
            </if>
            <if test="year != null">
                #{year,jdbcType=INTEGER},
            </if>
            <if test="createTimes != null">
                #{createTimes,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xsdkj.wechat.entity.wallet.WalletOperationLog">
        <!--@mbg.generated-->
        update wallet_operation_log_0
        <set>
            <if test="uid != null">
                `uid` = #{uid,jdbcType=INTEGER},
            </if>
            <if test="operationId != null">
                operation_id = #{operationId,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="beforePrice != null">
                before_price = #{beforePrice,jdbcType=DECIMAL},
            </if>
            <if test="afterPrice != null">
                after_price = #{afterPrice,jdbcType=DECIMAL},
            </if>
            <if test="type != null">
                `type` = #{type,jdbcType=TINYINT},
            </if>
            <if test="explain != null">
                `explain` = #{explain,jdbcType=VARCHAR},
            </if>
            <if test="month != null">
                `month` = #{month,jdbcType=TINYINT},
            </if>
            <if test="year != null">
                `year` = #{year,jdbcType=INTEGER},
            </if>
            <if test="createTimes != null">
                create_times = #{createTimes,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xsdkj.wechat.entity.wallet.WalletOperationLog">
        <!--@mbg.generated-->
        update wallet_operation_log_0
        set `uid` = #{uid,jdbcType=INTEGER},
        operation_id = #{operationId,jdbcType=INTEGER},
        price = #{price,jdbcType=DECIMAL},
        before_price = #{beforePrice,jdbcType=DECIMAL},
        after_price = #{afterPrice,jdbcType=DECIMAL},
        `type` = #{type,jdbcType=TINYINT},
        `explain` = #{explain,jdbcType=VARCHAR},
        `month` = #{month,jdbcType=TINYINT},
        `year` = #{year,jdbcType=INTEGER},
        create_times = #{createTimes,jdbcType=BIGINT}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <insert id="insert" keyColumn="id" keyProperty="log.id"
            parameterType="com.xsdkj.wechat.entity.wallet.WalletOperationLog" useGeneratedKeys="true">
        insert into wallet_operation_log_${tableNum} (`uid`, operation_id, price,
        before_price, after_price, `type`,
        `month`, `year`, create_times,`explain`
        )
        values (#{log.uid,jdbcType=INTEGER}, #{log.operationId,jdbcType=INTEGER}, #{log.price,jdbcType=DECIMAL},
        #{log.beforePrice,jdbcType=DECIMAL}, #{log.afterPrice,jdbcType=DECIMAL}, #{log.type,jdbcType=TINYINT},
        #{log.month,jdbcType=TINYINT}, #{log.year,jdbcType=INTEGER}, #{log.createTimes,jdbcType=BIGINT},#{log.explain}
        )
    </insert>

    <resultMap id="UserPriceOperationLogMap" type="com.xsdkj.wechat.vo.admin.UserOperationLogVo">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="operation_id" property="operationId"/>
        <result column="uid" property="uid"/>
        <result column="price" property="price"/>
        <result column="before_price" property="beforPrice"/>
        <result column="after_price" property="afterPrice"/>
        <result column="type" property="type"/>
        <result column="explain" property="explain"/>
        <result column="create_times" property="createTimes"/>
    </resultMap>
    <select id="listUserPriceOperationLog" resultMap="UserPriceOperationLogMap">
        select
        w.id,
        w.operation_id,
        u.username,
        w.uid,
        w.price,
        w.before_price,
        w.after_price,
        w.type,
        w.`explain`,
        w.create_times
        from wallet_operation_log_${tableNum} w
        left join user u on w.uid = u.id
        where 1=1
        <if test="param.uid != null">and w.uid = #{param1.uid,jdbcType=INTEGER}</if>
        <if test="param.uno != null">and u.uno = #{param.uno,jdbcType=VARCHAR}</if>
        <if test="param.beginTimes != null and param.endTimes !=null ">and w.create_times between
            #{param.beginTimes,jdbcType=BIGINT} and #{param.endTimes,jdbcType=BIGINT}
        </if>
        <if test="param.operationType != null">
            and w.type = #{param.operationType,jdbcType=INTEGER}
        </if>
        order by w.create_times desc
    </select>
</mapper>
