<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxkj.wechat.mapper.GroupMapper">
    <resultMap id="UserGroupRelationMap" type="com.cxkj.wechat.entity.UserGroupRelation">
        <result column="group_nickname" property="groupNickname"/>
    </resultMap>
    <resultMap id="ListGroupMembersMap" type="com.cxkj.wechat.vo.ListMembersVo">
        <result column="uid" property="uid"/>
        <result column="group_nickname" property="groupNickname"/>
        <result column="icon" property="icon"/>
    </resultMap>
    <resultMap id="BaseResultMap" type="com.cxkj.wechat.entity.Group">
        <!--@mbg.generated-->
        <!--@Table group-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="qr" jdbcType="VARCHAR" property="qr"/>
        <result column="notice" jdbcType="VARCHAR" property="notice"/>
        <result column="owner_id" jdbcType="INTEGER" property="ownerId"/>
        <result column="admin_ids" jdbcType="VARCHAR" property="adminIds"/>
        <result column="members_count" jdbcType="INTEGER" property="membersCount"/>
        <result column="state" jdbcType="BOOLEAN" property="state"/>
        <result column="is_save" jdbcType="BOOLEAN" property="isSave"/>
        <result column="create_times" jdbcType="BIGINT" property="createTimes"/>
        <result column="modified_times" jdbcType="BIGINT" property="modifiedTimes"/>
    </resultMap>
    <resultMap id="GroupBaseInfoVO" type="com.cxkj.wechat.vo.GroupBaseInfoVo">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="members_count" property="membersCount"/>
    </resultMap>
    <resultMap id="GroupInfoVo" type="com.cxkj.wechat.vo.GroupInfoVo" extends="BaseResultMap">
        <result column="icon" property="icon"/>
        <result column="qr" property="qr"/>
        <result column="notice" property="notice"/>
        <result column="create_times" property="createTimes"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, icon, qr, notice, owner_id, admin_ids, members_count, `state`, is_save,
        create_times, modified_times
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from `group`
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from `group`
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.cxkj.wechat.entity.Group"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into `group`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="qr != null">
                qr,
            </if>
            <if test="notice != null">
                notice,
            </if>
            <if test="ownerId != null">
                owner_id,
            </if>
            <if test="adminIds != null">
                admin_ids,
            </if>
            <if test="membersCount != null">
                members_count,
            </if>
            <if test="state != null">
                `state`,
            </if>
            <if test="isSave != null">
                is_save,
            </if>
            <if test="createTimes != null">
                create_times,
            </if>
            <if test="modifiedTimes != null">
                modified_times,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="qr != null">
                #{qr,jdbcType=VARCHAR},
            </if>
            <if test="notice != null">
                #{notice,jdbcType=VARCHAR},
            </if>
            <if test="ownerId != null">
                #{ownerId,jdbcType=INTEGER},
            </if>
            <if test="adminIds != null">
                #{adminIds,jdbcType=VARCHAR},
            </if>
            <if test="membersCount != null">
                #{membersCount,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                #{state,jdbcType=BOOLEAN},
            </if>
            <if test="isSave != null">
                #{isSave,jdbcType=BOOLEAN},
            </if>
            <if test="createTimes != null">
                #{createTimes,jdbcType=BIGINT},
            </if>
            <if test="modifiedTimes != null">
                #{modifiedTimes,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cxkj.wechat.entity.Group">
        <!--@mbg.generated-->
        update `group`
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="qr != null">
                qr = #{qr,jdbcType=VARCHAR},
            </if>
            <if test="notice != null">
                notice = #{notice,jdbcType=VARCHAR},
            </if>
            <if test="ownerId != null">
                owner_id = #{ownerId,jdbcType=INTEGER},
            </if>
            <if test="adminIds != null">
                admin_ids = #{adminIds,jdbcType=VARCHAR},
            </if>
            <if test="membersCount != null">
                members_count = #{membersCount,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                `state` = #{state,jdbcType=BOOLEAN},
            </if>
            <if test="isSave != null">
                is_save = #{isSave,jdbcType=BOOLEAN},
            </if>
            <if test="createTimes != null">
                create_times = #{createTimes,jdbcType=BIGINT},
            </if>
            <if test="modifiedTimes != null">
                modified_times = #{modifiedTimes,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cxkj.wechat.entity.Group">
        <!--@mbg.generated-->
        update `group`
        set `name` = #{name,jdbcType=VARCHAR},
        icon = #{icon,jdbcType=VARCHAR},
        qr = #{qr,jdbcType=VARCHAR},
        notice = #{notice,jdbcType=VARCHAR},
        owner_id = #{ownerId,jdbcType=INTEGER},
        admin_ids = #{adminIds,jdbcType=VARCHAR},
        members_count = #{membersCount,jdbcType=INTEGER},
        `state` = #{state,jdbcType=BOOLEAN},
        is_save = #{isSave,jdbcType=BOOLEAN},
        create_times = #{createTimes,jdbcType=BIGINT},
        modified_times = #{modifiedTimes,jdbcType=BIGINT}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cxkj.wechat.entity.Group"
            useGeneratedKeys="true">
        insert into `group`
        (`name`, icon, qr, notice, owner_id, members_count, state, is_save, create_times, modified_times)
        values
        (#{name},#{icon},#{qr},#{notice},#{ownerId},#{membersCount},#{state},#{isSave},#{createTimes},#{modifiedTimes})
    </insert>


    <!--auto generated by MybatisCodeHelper on 2019-12-12-->
    <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `group`
        where 1=1
        <if test="id != null">
            and id=#{id,jdbcType=INTEGER}
        </if>
        <if test="name != null">
            and `name`=#{name,jdbcType=VARCHAR}
        </if>
        <if test="icon != null">
            and icon=#{icon,jdbcType=VARCHAR}
        </if>
        <if test="qr != null">
            and qr=#{qr,jdbcType=VARCHAR}
        </if>
        <if test="notice != null">
            and notice=#{notice,jdbcType=VARCHAR}
        </if>
        <if test="ownerId != null">
            and owner_id=#{ownerId,jdbcType=INTEGER}
        </if>
        <if test="adminIds != null">
            and admin_ids=#{adminIds,jdbcType=VARCHAR}
        </if>
        <if test="membersCount != null">
            and members_count=#{membersCount,jdbcType=INTEGER}
        </if>
        <if test="state != null">
            and `state`=#{state,jdbcType=BOOLEAN}
        </if>
        <if test="isSave != null">
            and is_save=#{isSave,jdbcType=BOOLEAN}
        </if>
        <if test="createTimes != null">
            and create_times=#{createTimes,jdbcType=BIGINT}
        </if>
        <if test="modifiedTimes != null">
            and modified_times=#{modifiedTimes,jdbcType=BIGINT}
        </if>
    </select>
    <insert id="insertUserIds">
        insert into user_group_relation(uid,gid,group_nickname,notice_type) values
        <foreach collection="ids" item="id" separator=",">
            (#{id},#{groupId},(select username from user where id = #{id}),1)
        </foreach>
    </insert>
    <update id="updateQr">
        update `group` set qr = #{qr},modified_times = REPLACE(unix_timestamp(current_timestamp(3)),'.','') where id =
        #{id}
    </update>
    <select id="getById" resultType="com.cxkj.wechat.entity.Group">
        select id,name,icon,qr,notice,owner_id ownerId, admin_ids adminIds, members_count membersCount,
        state,is_save isSave,create_times createTimes,modified_times modifiedTimes
        from `group` where id = #{id}
    </select>
    <select id="listGroupByUserId" resultType="com.cxkj.wechat.vo.ListGroupVo">
        select g.id gid, g.name groupName, g.icon, ugr.notice_type noticeType
        from `group` g
        left join user_group_relation ugr on g.id = ugr.gid
        where ugr.uid = #{userId};
    </select>
    <select id="getBaseInfo" resultMap="GroupBaseInfoVO">
        select id , name , members_count
        from `group`
        where id = #{groupId}
    </select>
    <select id="getInfo" resultMap="GroupInfoVo">
        select icon,qr,notice,create_times,id,name,members_count from `group` where id = #{groupId};
    </select>
    <update id="updateGroupCount">
        update `group` set members_count = members_count+#{num},modified_times =
        REPLACE(unix_timestamp(current_timestamp(3)),'.','') where id = #{gid}
    </update>
    <select id="listGroupMembersByGroupId" resultMap="ListGroupMembersMap">
        select uid, icon, group_nickname
        from user_group_relation ugr
        left join user u on ugr.uid = u.id
        where ugr.gid = #{groupId};
    </select>
    <select id="checkUserJoined" resultType="java.lang.Integer">
        select count(1) from user_group_relation where gid = #{groupId} and uid in
        <foreach collection="uids" open="(" close=")" separator="," item="uid">
            #{uid}
        </foreach>
    </select>
    <select id="getByGroupIdAndUid" resultMap="UserGroupRelationMap">
        select group_nickname from user_group_relation where gid = #{groupId} and uid = #{uid};
    </select>
    <delete id="quitGroup">
        delete from user_group_relation where gid = #{groupId} and uid in
        <foreach collection="ids" separator="," open="(" close=")" item="uid">
            #{uid}
        </foreach>
    </delete>
</mapper>
