<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxkj.wechat.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.cxkj.wechat.entity.User">
        <!--@mbg.generated-->
        <!--@Table user-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="gender" jdbcType="TINYINT" property="gender"/>
        <result column="qr" jdbcType="VARCHAR" property="qr"/>
        <result column="tel" jdbcType="VARCHAR" property="tel"/>
        <result column="qq" jdbcType="VARCHAR" property="qq"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="create_times" jdbcType="BIGINT" property="createTimes"/>
        <result column="join_ip" jdbcType="VARCHAR" property="joinIp"/>
        <result column="last_login_times" jdbcType="BIGINT" property="lastLoginTimes"/>
        <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, username, `password`, icon, gender, qr, tel, qq, description, email, `type`,
        `state`, create_times, join_ip, last_login_times, last_login_ip
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cxkj.wechat.entity.User"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into user (username, `password`, icon,
        gender, qr, tel, qq,
        description, email, `type`,
        `state`, create_times, join_ip,
        last_login_times, last_login_ip)
        values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR},
        #{gender,jdbcType=TINYINT}, #{qr,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR},
        #{description,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT},
        #{state,jdbcType=TINYINT}, #{createTimes,jdbcType=BIGINT}, #{joinIp,jdbcType=VARCHAR},
        #{lastLoginTimes,jdbcType=BIGINT}, #{lastLoginIp,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.cxkj.wechat.entity.User"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="qr != null">
                qr,
            </if>
            <if test="tel != null">
                tel,
            </if>
            <if test="qq != null">
                qq,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="state != null">
                `state`,
            </if>
            <if test="createTimes != null">
                create_times,
            </if>
            <if test="joinIp != null">
                join_ip,
            </if>
            <if test="lastLoginTimes != null">
                last_login_times,
            </if>
            <if test="lastLoginIp != null">
                last_login_ip,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=TINYINT},
            </if>
            <if test="qr != null">
                #{qr,jdbcType=VARCHAR},
            </if>
            <if test="tel != null">
                #{tel,jdbcType=VARCHAR},
            </if>
            <if test="qq != null">
                #{qq,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="state != null">
                #{state,jdbcType=TINYINT},
            </if>
            <if test="createTimes != null">
                #{createTimes,jdbcType=BIGINT},
            </if>
            <if test="joinIp != null">
                #{joinIp,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTimes != null">
                #{lastLoginTimes,jdbcType=BIGINT},
            </if>
            <if test="lastLoginIp != null">
                #{lastLoginIp,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cxkj.wechat.entity.User">
        <!--@mbg.generated-->
        update user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=TINYINT},
            </if>
            <if test="qr != null">
                qr = #{qr,jdbcType=VARCHAR},
            </if>
            <if test="tel != null">
                tel = #{tel,jdbcType=VARCHAR},
            </if>
            <if test="qq != null">
                qq = #{qq,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                `type` = #{type,jdbcType=TINYINT},
            </if>
            <if test="state != null">
                `state` = #{state,jdbcType=TINYINT},
            </if>
            <if test="createTimes != null">
                create_times = #{createTimes,jdbcType=BIGINT},
            </if>
            <if test="joinIp != null">
                join_ip = #{joinIp,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTimes != null">
                last_login_times = #{lastLoginTimes,jdbcType=BIGINT},
            </if>
            <if test="lastLoginIp != null">
                last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cxkj.wechat.entity.User">
        <!--@mbg.generated-->
        update user
        set username = #{username,jdbcType=VARCHAR},
        `password` = #{password,jdbcType=VARCHAR},
        icon = #{icon,jdbcType=VARCHAR},
        gender = #{gender,jdbcType=TINYINT},
        qr = #{qr,jdbcType=VARCHAR},
        tel = #{tel,jdbcType=VARCHAR},
        qq = #{qq,jdbcType=VARCHAR},
        description = #{description,jdbcType=VARCHAR},
        email = #{email,jdbcType=VARCHAR},
        `type` = #{type,jdbcType=TINYINT},
        `state` = #{state,jdbcType=TINYINT},
        create_times = #{createTimes,jdbcType=BIGINT},
        join_ip = #{joinIp,jdbcType=VARCHAR},
        last_login_times = #{lastLoginTimes,jdbcType=BIGINT},
        last_login_ip = #{lastLoginIp,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--auto generated by MybatisCodeHelper on 2019-12-11-->
    <select id="getOneByUsername" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where username=#{username,jdbcType=VARCHAR}
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-12-11-->
    <select id="countByEmail" resultType="java.lang.Integer">
        select count(1)
        from user
        where email=#{email,jdbcType=VARCHAR}
    </select>


</mapper>
