<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxkj.wechat.mapper.UserLoginLogMapper">
  <resultMap id="BaseResultMap" type="com.cxkj.wechat.entity.UserLoginLog">
    <!--@mbg.generated-->
    <!--@Table user_login_log-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="create_times" jdbcType="BIGINT" property="createTimes" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `uid`, ip, create_times
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from user_login_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from user_login_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cxkj.wechat.entity.UserLoginLog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_login_log (`uid`, ip, create_times
      )
    values (#{uid,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, #{createTimes,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.cxkj.wechat.entity.UserLoginLog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_login_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        `uid`,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="createTimes != null">
        create_times,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="createTimes != null">
        #{createTimes,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxkj.wechat.entity.UserLoginLog">
    <!--@mbg.generated-->
    update user_login_log
    <set>
      <if test="uid != null">
        `uid` = #{uid,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="createTimes != null">
        create_times = #{createTimes,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxkj.wechat.entity.UserLoginLog">
    <!--@mbg.generated-->
    update user_login_log
    set `uid` = #{uid,jdbcType=INTEGER},
      ip = #{ip,jdbcType=VARCHAR},
      create_times = #{createTimes,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>