<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}" media="all">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app" class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">数据表</div>
                <div class="layui-card-body">
                    <div class="layui-collapse" v-for="table in tableList">
                        <div class="layui-colla-item">
                            <div class="layui-colla-title">{{table.name}}</div>
                            <div class="layui-colla-content">
                                <pre>{{table.content}} </pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">功能</div>
                <div class="layui-card-body">
                    <div class="layui-collapse" v-for="level1 in functionList">
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">
                                <span :class="getState(level1.state)"></span>
                                {{level1.name}}
                            </h2>
                            <div class="layui-colla-content">
                                <pre v-if="level1.content!=''">{{level1.content}} </pre>
                                <div v-if="level1.children.length>0" v-for="level2 in level1.children"
                                     class="layui-collapse">
                                    <div class="layui-colla-item">
                                        <h2 class="layui-colla-title">
                                            <span :class="getState(level2.state)"></span>
                                            {{level2.name}}
                                        </h2>
                                        <div class="layui-colla-content">
                                            <pre>{{level2.content}}</pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
        </div>
    </div>
</div>
</body>
<script th:src="@{/layuiadmin/layui/layui.js}"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            tableList: [
                {
                    name: 'user', content: `
-- auto-generated definition
create table user
(
    id               int unsigned auto_increment
        primary key,
    username         varchar(64)       not null,
    password         varchar(64)       not null,
    icon             varchar(255)      not null,
    gender           tinyint default 0 not null comment '0男 1女',
    qr               varchar(255)      not null comment '二维码',
    tel              varchar(16)       null comment '电话',
    qq               varchar(16)       null,
    description      varchar(255)      null,
    email            varchar(64)       not null,
    type             tinyint default 0 not null comment '0普通用户 1管理员',
    state            tinyint default 0 not null comment '状态 0 正常 1禁用 2 删除',
    create_times     bigint            not null comment '创建时间',
    join_ip          varchar(16)       not null comment '加入ip',
    last_login_times bigint            null comment '上次登录时间',
    last_login_ip    varchar(16)       null comment '上次登录ip',
    constraint email
        unique (email),
    constraint username
        unique (username)
);
                `
                },
                {
                    name: 'friend', content: `
-- auto-generated definition
create table friend
(
    id             int unsigned auto_increment
        primary key,
    uid            int unsigned    null,
    fid            int unsigned    null,
    flag           varchar(16)     null comment '标签(对联系人进行分类)',
    remark_name    varchar(16)     null comment '备注名',
    tel            varchar(16)     null,
    description    varchar(255)    null comment '描述',
    img            varchar(255)    null comment '名片或相关图片',
    state          tinyint         null comment '状态 0 正常 1黑名单 2 标星朋友 3屏蔽',
    create_times   bigint unsigned null,
    modified_times bigint unsigned null
);
                `
                },
                {
                    name: 'group', content: `
-- auto-generated definition
create table \`group\`
(
    id             int unsigned auto_increment
        primary key,
    name           varchar(64)  null,
    icon           varchar(64)  null comment '群头像',
    qr             varchar(64)  null comment '群二维码',
    notice         varchar(255) null comment '群公告',
    owner_id       int unsigned null comment '群主id',
    admin_ids      varchar(255) null comment '管理员id',
    members_count  int unsigned null comment '群成员个数',
    state          tinyint(1)   null comment '是否禁言',
    is_save        tinyint(1)   null comment '是否保存到数据库',
    create_times   bigint       null,
    modified_times bigint       null,
    constraint group_ibfk_1
        foreign key (owner_id) references user (id)
            on delete cascade
);

create index owner_id
    on \`group\` (owner_id);

                `
                },
                {
                    name: 'permission', content: `
-- auto-generated definition
create table permission
(
    id           int unsigned auto_increment
        primary key,
    pid          int unsigned null,
    value        varchar(16)  null,
    icon         varchar(64)  null,
    type         tinyint      null comment '权限类型: 0目录 1菜单 2按钮 3 接口',
    uri          varchar(64)  null comment '前端资源路径',
    status       tinyint      null comment '启用状态：0禁用 1启用',
    create_times bigint       null,
    sort         int unsigned null
);
                `
                },
                {
                    name: 'role', content: `
-- auto-generated definition
create table role
(
    id             int unsigned auto_increment
        primary key,
    name           varchar(16)  null,
    description    varchar(255) null,
    status         tinyint      null,
    sort           int          null,
    create_times   bigint       null,
    modified_times bigint       null
);
                `
                },
                {
                    name: 'role_permission_relation', content: `
-- auto-generated definition
create table role_permission_relation
(
    id  int unsigned auto_increment
        primary key,
    rid int unsigned null,
    pid int unsigned null,
    constraint role_permission_relation_ibfk_1
        foreign key (rid) references role (id)
            on delete cascade,
    constraint role_permission_relation_ibfk_2
        foreign key (pid) references permission (id)
            on delete cascade
);

create index pid
    on role_permission_relation (pid);

create index rid
    on role_permission_relation (rid);
                `
                },
                {
                    name: 'user_login_log', content: `
-- auto-generated definition
create table user_login_log
(
    id           int unsigned auto_increment
        primary key,
    uid          int unsigned null,
    ip           varchar(16)  null,
    create_times bigint       null,
    constraint user_login_log_ibfk_1
        foreign key (uid) references user (id)
            on delete cascade
);

create index uid
    on user_login_log (uid);                `
                },
                {
                    name: 'user_role_relation', content: `
-- auto-generated definition
create table user_role_relation
(
    id  int unsigned auto_increment
        primary key,
    uid int unsigned null,
    rid int unsigned null,
    constraint user_role_relation_ibfk_1
        foreign key (uid) references user (id)
            on delete cascade,
    constraint user_role_relation_ibfk_2
        foreign key (rid) references role (id)
            on delete cascade
);

create index rid
    on user_role_relation (rid);

create index uid
    on user_role_relation (uid);
                `
                },
                {
                    name: 'friend_application(mongoDB)', content: `
id
to_user_id
username
from_user_id
from_user_name
from_user_cion
message 内容 添加原因
state 同意,拒绝
is_read 未读 已读
type add_friend
                `
                },
                {
                    name: 'single_chat', content: `
id
to_user_id
from_user_id
content
type 0信息 1语音 2图片 3撤销 4 加入群聊 5红包 6转账
is_read 是否阅读
create_time
                `
                },
                {
                    name: 'group_chat(mongoDB)', content: `
id
to_group_id
from_user_id
content
type 0信息 1语音 2图片 3撤销 4红包 5转账
create_tiems
                `
                }
            ],
            functionList: [
                {
                    name: '用户注册', content: '已完成', state: 2, children: []
                },
                {
                    name: '用户登录', content: `
需要处理的业务:
1. 在mysql对用户信息进行核实
2. 核实成功后用户注册到netty服务器
3. 用户channel加入对应用户群聊的channelGroup.
4. 从mongoDB中查看有无好友申请消息
5. 从mongoDB中查看有无单聊消息
6. 从mongoDB中查看群聊消息(查看前要判断下用户是否屏蔽了这个群的消息，如果屏蔽了就不用去查看了)

                    `, state: 1, children: []
                },
                {
                    name: '用户管理', content: '', state: 0, children: [
                        {name: '修改用户信息', content: '', state: 0},
                        {name: '邮箱认证', content: '', state: 0},
                        {name: '找回密码', content: '', state: 0}
                    ]
                },
                {
                    name: '个人与朋友', content: '', state: 0, children: [
                        {name: '加好友', state: 2}, {name: '删除好友', state: 0}
                    ]
                },
                {name: '单聊', content: '已完成', state: 2, children: []},
                {
                    name: '群聊', content: '', state: 2, children: [
                        {name: '创建群聊', content: '已完成', state: 2,},
                        {name: '查询群列表', content: '已完成', state: 2,},
                        {name: '查看群基本信息', content: '已完成', state: 2,},
                        {name: '查看用户所有群', content: '已完成', state: 2,},
                        {name: '查看群成员', content: '已完成', state: 2,},
                        {name: '加入群聊', content: '已完成', state: 2,},
                        {name: '群聊', content: '已完成', state: 2,},
                        {name: '移除群聊', content: '已完成', state: 2,},
                        {name: '退群', content: '已完成', state: 2,},
                    ]
                },
                {
                    name: '公共', content: '', state: 2, children: [
                        {name: '上传文件', content: '已完成', state: 2},
                        {name: '定期消除文件', content: '已完成', state: 2},
                        {name: '定期消除消息', content: '已完成', state: 2},
                    ]
                },
                {name: 'redis缓存', content: '还没有开始', state: 0},
                {name: '扩展', content: '', state: 0, children: []},
            ]
        },
        methods: {
            getState(state) {
                switch (state) {
                    case 0:
                        return 'layui-badge-dot';
                    case 1:
                        return 'layui-badge-dot layui-bg-orange';
                    case 2:
                        return 'layui-badge-dot layui-bg-green'
                }
            }
        }
    })
    layui.config({
        base: '/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index']);
</script>
</html>
