<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base href="https://baike.baidu.com">
</head>
<body style="margin-left: 30px">
<h1>HTML 教程</h1>
<p>HTML超文本标记语言(HyperText Markup Language)是一种用于创建网页的标准标记语言.</p>
<p>您可以使用HTML来建立自己的WEB站点,HTML运行在浏览器上,由浏览器来解析.</p>
<hr>
<h2>HTML标签 展示相关</h2>
<ul>
    <li>标题 h1 - h6</li>
    <li>段落 p</li>
    <li>换行 br</li>
    <li>文本格式化
        <ul>
            <li>b <b>定义粗体文字</b></li>
            <li>em <em>定义着重文字</em></li>
            <li>i <i>定义斜体文字</i></li>
            <li>small
                <small>定义小号字</small>
            </li>
            <li>strong <strong>定义加重语气</strong></li>
            <li>sub <sub>定义下标字</sub></li>
            <li>sup <sup>定义上标字</sup></li>
            <li>ins
                <ins>定义插入字</ins>
            </li>
            <li>del
                <del>定义删除字</del>
            </li>
        </ul>
    </li>
    <li>计算机输出标签
        <ul>
            <li>pre 定义可换行文本</li>
            <li>code <code>定义计算机代码</code></li>
            <li>kbd <kbd>定义键盘码</kbd></li>
            <li>samp <samp>定义计算机样本</samp></li>
        </ul>
    </li>
    <li>引文,引用,及标签定义
        <ul>
            <li>abbr <abbr title="test">定义缩写</abbr></li>
            <li>address 定义地址</li>
            <li>bdo <bdo dir="rtl">定义文字方向</bdo> <bdo dir="ltr">定义文字方向</bdo></li>
            <li>blockqubote 定义长引用</li>
            <li>q <q>定义短引用</q></li>
            <li>cite <cite>定义引用,引证</cite></li>
            <li>dfn <dfn>定义一个项目</dfn></li>
        </ul>
    </li>
    <li>链接 a</li>
    <li>图像 img</li>
    <li>水平线 hr</li>
    <li>注释 &lt;!-- --&gt;</li>
    <li><span title="在head元素中可以插入脚本,样式文件及各种meta信息.">head 元素包含了所有头部的标签元素</span>
        <ul>
            <li>title 定义文档标题</li>
            <li>base 描述了基本的链接地址,文档中的所有链接在此基础上拼接. <a href="/item/西班牙国家德比/10815941?fr=aladdin">test</a></li>
            <li>link <a href="https://www.runoob.com/html/html-head.html">定义了文档与外部资源之间的关系</a></li>
            <li>style <a href="https://www.runoob.com/html/html-head.html">定义了文档与外部样式文件之间的关系</a></li>
            <li title="通常用于指定网页的描述,关键词,文件的最后修改时间,作者,和其他元数据.">meta 提供了元数据,元数据也不显示在页面上,但会被浏览器解析.</li>
            <li>script 用于加载脚本文件</li>
        </ul>
    </li>
    <li title="每个表格均由若干行(由tr标签定义),每行被分割为若干单元格(由td标签定义).">表格 table 数据单元格可以包含文本,图片,列表,段落,水平线,表格等等.</li>
    <li>列表 无序ul 有序 ol 自定义 dl</li>
    <li>区块
        <ul>
            <li>区块元素 块级元素在浏览器显示时通常会以新的行来开始</li>
            <li>内联元素 内联元素在显示时通常不会以新的行开始</li>
            <li>块级元素div 可用于组合其他HTML 元素的容器</li>
            <li>内联元素span 可用于文本的容器 当与css一同使用时,可用于设置样式属性.</li>
        </ul>
    </li>
</ul>
<hr>
<h2>HTML标签 输入相关</h2>
<hr>
<h2>标签的属性</h2>
<ul>
    <li>class 为html元素定义一个或多个类名(类名从样式文件引入)</li>
    <li>id 定义元素的唯一id</li>
    <li>style 规定元素的行内样式 (inline style)</li>
    <li title="这是额外信息">title 描述了元素的额外信息(作为工具条使用)</li>
</ul>
<h2>css 样式</h2>
<ul>
    <li style="background-color: #66ccff; color: #000;">背景颜色 background-color</li>
    <li style="font-family: Monospaced,serif;">字体 font-family</li>
    <li style="font-size: 30px">字体大小 font-size</li>
</ul>
</body>
</html>
