<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的笔记</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}" media="all">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body class="layui-layout-body">
<div id="LAY_app">
    <div class="layui-layout  layui-layout-admin">
        <div class="layui-header">
            <!--头部区域-->
            <ul class="layui-nav layui-layout-left">
                <!--侧边伸缩-->
                <li class="layui-nav-item layadmin-flexible">
                    <a href="javascript:" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <!--前台链接-->
                <li class="layui-nav-item layui-hide-xs">
                    <a href="http://www.layui.com/admin" target="_blank" title="前台">
                        <i class="layui-icon layui-icon-website"></i>
                    </a>
                </li>
                <!--刷新-->
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:" layadmin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
                <!-- 搜索 -->
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search"
                           layadmin-event="serach" lay-action="http://www.baidu.com"/>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-rigth">
                <!--消息中心-->
                <li class="layui-nav-item" lay-unselect>
                    <a lay-href="" layadmin-event="message" lay-text="消息中心">
                        <i class="layui-icon layui-icon-notice"></i>
                        <!--如果有新消息就显示小红点-->
                        <span class="layui-badge-dot"></span>
                    </a>
                </li>
                <!--主题-->
                <li title="主题" class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:" layadmin-event="theme">
                        <i class="layui-icon layui-icon-theme"></i>
                    </a>
                </li>
                <!--便签-->
                <li title="便签" class="layui-nav-item layui-hide-xs" lay-unselect="">
                    <a lay-href="javascript:" layadmin-event="note">
                        <i class="layui-icon layui-icon-note"></i>
                    </a>
                </li>
                <!--全屏-->
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:" layadmin-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>
                <!--个人信息-->
                <li class="layui-nav-item">
                    <a href="javascript:"><cite>{{user.username}}</cite></a>
                    <dl class="layui-nav-child">
                        <dd><a lay-href="set/user/info.html">基本资料</a></dd>
                        <dd><a lay-href="set/user/password.html">修改密码</a></dd>
                        <hr>
                        <dd style="text-align:center;"><a @click="logout">退出</a></dd>
                        <!--<dd layadmin-event="logout" style="text-align:center;"><a href="http://localhost:9001/admin/login">退出</a></dd>-->
                    </dl>
                </li>
            </ul>
        </div>
        <!--侧边菜单-->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="">
                    <span>我的笔记</span>
                </div>
                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY_system-side-menu"
                    lay-filter="layadmin-system-side-menu">
                    <li class="layui-nav-item" v-for="level in davList">
                        <a href="javascript:">
                            <i :class="level.class"></i>
                            <cite>{{level.name}}</cite>
                        </a>
                        <dl class="layui-nav-child" v-for="level2 in level.data">
                            <dd><a :lay-href="getUrl(level2.href)" :title="level2.title">{{level2.name}}</a>
                                <dl class="layui-nav-child" v-if="level2.children.length>0"
                                    v-for="level3 in level2.children">
                                    <dd><a :lay-href="getUrl(level3.href)" :title="level3.title">{{level3.name}}</a>
                                    </dd>
                                </dl>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <!--页面标签-->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item">
                        <a href="javascript:"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="home/console.html" lay-attr="home/console.html" class="layui-this"><i
                            class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>
        <!--主体内容-->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe :src="host+'home/console'" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>
        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
</body>
<script th:src="@{/layuiadmin/layui/layui.js}"></script>
<script th:src="@{/common/js/constant.js}"></script>
<script>
    let user = JSON.parse(window.localStorage.getItem(KEY_USER));
    if (user == null) {
        window.location.href = LOGIN_PATH;
    }
    let token = user.token;
    layui.config({
        base: LAYUI_CONFIG_BASE //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use('index');

    new Vue({
        el: '#LAY_app',
        data: {
            user: JSON.parse(window.localStorage.getItem(KEY_USER)),
            host: `${BASE_URL}/path?Authorization=${token}&url=`,
            davList: [
                {
                    name: '编程',
                    class: 'layui-icon layui-icon-home',
                    data: [
                        {name: '计算机基础知识', href: 'java/computer.html'},
                        {name: 'Java基础', href: 'java/base.html'},
                        {
                            name: 'Java SE', href: 'java/se/se.html',
                            children: [
                                {href: 'java/se/file.html', name: '文件操作'},
                                {href: 'java/se/thread.html', name: '多线程'},
                                {href: 'java/se/password.html', name: '加密解密'},
                                {href: 'java/se/other.html', name: '扩展'},
                            ]
                        },
                        {
                            name: '程序=算法+数据结构', href: 'java/program/program.html',
                            children: [
                                {name: '算法', title: '描述处理问题的具体步骤', href: 'java/program/arithmetic.html'},
                                {name: '数据结构', href: 'java/program/data.html', title: '描述待处理的数据的组织形式'},
                            ]
                        },
                        {
                            name: '框架', href: '', title: '',
                            children: [
                                {name: 'Spring', href: 'java/framework/spring.html', title: ''},
                                {name: 'Spring MVC', href: 'java/framework/spring_mvc.html', title: ''},
                                {name: 'Spring Boot', href: 'java/framework/spring_boot.html', title: ''},
                                {name: '任务框架', href: 'java/framework/task/task.html', title: ''},
                                {name: 'netty', href: 'java/framework/netty/netty.html', title: ''},
                                {name: 'Dubbo', href: 'java/framework/dubbo/dubbo.html', title: ''},
                                {name: '消息中间件', href: 'java/framework/msg_queue/msg_queue.html', title: ''},
                                {
                                    name: 'Spring Cloud',
                                    href: 'java/framework/spring_cloud/spring_cloud.html',
                                    title: ''
                                },
                                {name: 'Elasticsearch', href: 'java/framework/elasticsearch.html', title: ''},
                            ]
                        },
                        {name: '错误集合', href: 'java/error.html', title: ''},
                        {
                            name: 'Java高级', href: '', title: '',
                            children: [
                                {name: 'Java注解', href: 'java/advanced/annotation.html', title: ''},
                                {name: 'Java源码阅读', href: 'java/advanced/sound_code.html', title: ''},
                                {name: '高并发', href: 'java/advanced/high_concurrency.html', title: ''},
                                {name: '大数据', href: 'java/advanced/big_data.html', title: ''},
                                {name: '区块链', href: 'java/advanced/blockchain.html', title: ''},
                            ]
                        },
                        {name: '资料/工具', href: 'java/source.html', title: ''},
                        {name: 'linux', href: 'java/linux.html', title: ''},
                        {name: '前端', href: 'java/web/html.html', title: ''},
                    ]
                },
                {
                    name: '项目',
                    class: 'layui-icon layui-icon-tabs',
                    data: [
                        {name: 'wechat', href: 'wechat/wechat.html', title: ''},
                    ]
                }
            ]
        },
        methods: {
            getUrl(url) {
                return this.host + url;
            },
            logout() {
                window.localStorage.removeItem(KEY_USER);
                window.location.href = LOGIN_PATH
            }
        }
    });
</script>
</html>
